<app-header-nav></app-header-nav>
<div class="container">
  <div class="sub-container">
    <div class="logo"><img src="assets/images/facvicon.png"></div>
    <div>
      <h3>IT'S PRIME TIME FOR AN EXCLUSIVE EMAIL OFFER</h3>
      <p><i>Coming soon...make sure you're on the list.</i></p>
    </div>
    <div class="notification">
      <div class="email">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="johnsmith@gmail.com" value="">
        </mat-form-field>
        <button mat-flat-button>Subscribe</button>
      </div>
      <p>
        The best of Book Outlet, straight to your inbox.
      </p>
    </div>
  </div>
  <mat-card class="banner">
    <div class="banner-text" style="max-width:350px; margin-left: 200px;
    margin-top: 40px; padding: 10px;">
      <h1>WELCOME TO YOUR HAPPY PLACE</h1>
      <h3>Shop brand new books at least 50% off* list prices every day</h3>
      <div class="banner-buttons">
        <button mat-raised-button>Shop All Books</button>
        <button mat-raised-button>Shop Kids Books</button>
      </div>
    </div>
    <div>
      <img
        src="https://png.pngtree.com/png-vector/20230808/ourmid/pngtree-fiction-book-clipart-illustration-of-open-book-with-cartoon-illustration-vector-png-image_6870390.png">
    </div>
  </mat-card>
  <div class="price-drop-alert">
    <h1>PRICE DROP ALERT</h1>
  </div>
  <div class="topTilesToday">
    <div class="toptiles-leftsection">
      <img src="https://png.pngtree.com/png-clipart/20230914/original/pngtree-fiction-book-clipart-an-open-book-with-a-fantasy-castle-in-png-image_12147869.png">
      <div><h1>TOP TILES TODAY</h1></div>
      <button mat-raised-button>Shop All Bestsellers</button>
    </div>
    <div class="toptiles-rightsection">
      <div></div>
    </div>

  </div>
</div>

